@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400|Poppins:400,300,700,500");

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.template-5-modal {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1851px;
  overflow: hidden;
  width: 1440px;
}

.overlap-group11 {
  height: 2192px;
  position: relative;
  width: 1440px;
}

.overlap-group10 {
  align-items: flex-start;
  display: flex;
  height: 40px;
  left: 471px;
  min-width: 144px;
  padding: 11px 19px;
  position: absolute;
  top: 212px;
}

.java-script-1 {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 16px;
  white-space: nowrap;
}

.group-37 {
  align-items: center;
  display: flex;
  height: 27px;
  left: 1165px;
  min-width: 147px;
  position: absolute;
  top: 794px;
}

.ic_arrow_right-1 {
  height: 24px;
  margin-bottom: 1px;
  margin-left: 14px;
  width: 24px;
}

.next-project {
  letter-spacing: 0;
  min-height: 27px;
  min-width: 107px;
  text-align: right;
}

.mask-group-2 {
  height: 53px;
  left: 757px;
  position: absolute;
  top: 1505px;
  width: 41px;
}

.overlap-group9 {
  align-items: flex-start;
  display: flex;
  height: 40px;
  left: 282px;
  min-width: 169px;
  padding: 11px 19px;
  position: absolute;
  top: 212px;
}

.name-1 {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 16px;
  white-space: nowrap;
}

.group-39 {
  align-items: center;
  display: flex;
  height: 27px;
  left: 128px;
  min-width: 185px;
  position: absolute;
  top: 794px;
}

.previous-project {
  letter-spacing: 0;
  margin-left: 16px;
  min-height: 27px;
  min-width: 143px;
}

.ic_arrow_left {
  height: 24px;
  margin-bottom: 1px;
  width: 24px;
}

.rectangle-22 {
  height: 1851px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 342px;
  width: 1440px;
}

.group-107 {
  align-items: center;
  display: flex;
  height: 27px;
  left: 370px;
  min-width: 185px;
  position: absolute;
  top: 1645px;
}

.rectangle-35 {
  background-color: var(--white);
  box-shadow: 0px 10px 20px 
#00000040;
  height: 1711px;
  left: 70px;
  position: absolute;
  top: 70px;
  width: 1300px;
}

.rectangle-33 {
  background-color: 
#1b1b1e;
  height: 734px;
  left: 70px;
  position: absolute;
  top: 70px;
  width: 1300px;
}

.group-108 {
  align-items: center;
  display: flex;
  height: 27px;
  left: 925px;
  min-width: 147px;
  position: absolute;
  top: 1645px;
}

.project-name-goes-here-1 {
  color: var(--steel-gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 700;
  left: 130px;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  top: 130px;
  white-space: nowrap;
}

.protfolio-page-geometry {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 1024px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1440px;
}

.overlap-group6 {
  height: 4852px;
  margin-bottom: -3828px;
  position: relative;
  width: 1444px;
}

.group-103 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1373px;
  padding: 0px 0;
  position: absolute;
  top: 0;
  width: 1444px;
}

.rectangle-27 {
  height: 116px;
  margin-left: -0.5px;
  margin-top: 21px;
  object-fit: cover;
  width: 800px;
}

.overlap-group5 {
  height: 1061px;
  margin-left: -0.25px;
  position: relative;
  width: 1440px;
}

.overlap-group-1 {
  align-items: flex-start;
  background-color: var(--steel-gray);
  display: flex;
  height: 51px;
  justify-content: flex-end;
  left: 1005px;
  min-width: 212px;
  padding: 11px 17px;
  position: absolute;
  top: 747px;
}

.ic_arrow_right {
  align-self: center;
  height: 24px;
  margin-bottom: 1px;
  margin-left: 13px;
  width: 24px;
}

.see-this-project {
  letter-spacing: 0;
  min-height: 27px;
  min-width: 139px;
  text-align: center;
}

.image-geometry_2 {
  height: 350px;
  left: 464px;
  position: absolute;
  top: 558px;
  width: 511px;
}

.rectangle-25 {
  height: 271px;
  left: 975px;
  object-fit: cover;
  position: absolute;
  top: 557px;
  width: 466px;
}

.rectangle-45-1 {
  height: 218px;
  left: 975px;
  object-fit: cover;
  position: absolute;
  top: 610px;
  width: 465px;
}

.image_dots {
  height: 160px;
  left: 323px;
  position: absolute;
  top: 0;
  width: 160px;
}

.overlap-group2-1 {
  align-items: center;
  background-color: var(--morning-glory);
  display: flex;
  height: 40px;
  left: 1152px;
  min-width: 169px;
  padding: 0 20px;
  position: absolute;
  top: 692px;
}

.name {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 16px;
  min-width: 129px;
  white-space: nowrap;
}

.projects {
  -webkit-text-stroke: 1px var(--steel-gray);
  left: 15px;
  letter-spacing: 0;
  line-height: 110px;
  position: absolute;
  top: 143px;
  white-space: nowrap;
}

.project-name-goes {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 40px;
  font-weight: 700;
  left: 1005px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 640px;
  white-space: nowrap;
}

.group-89 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/626315b52c67eedc2afe41bd/releases/6263162288c38daf21b7a779/img/rectangle-21@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 558px;
  left: 480px;
  min-width: 960px;
  position: absolute;
  top: 0;
}

.group-container {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/626315b52c67eedc2afe41bd/releases/6263162288c38daf21b7a779/img/rectangle-22@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 353px;
  position: relative;
  width: 960px;
}

.mask-group-1 {
  height: 53px;
  left: 656px;
  position: absolute;
  top: 240px;
  width: 41px;
}

.group-76 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 60px;
  min-height: 233px;
  position: absolute;
  top: 60px;
  width: 728px;
}

.project-name-goes-here {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 48px;
  min-height: 48px;
  white-space: nowrap;
}

.overlap-group-container {
  align-items: flex-start;
  display: flex;
  margin-top: 34px;
  min-width: 485px;
}

.overlap-group3-2 {
  align-items: center;
  background-color: var(--morning-glory);
  display: flex;
  height: 40px;
  margin-left: 20px;
  min-width: 144px;
  padding: 0 20px;
}

.java-script {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 16px;
  min-width: 104px;
  white-space: nowrap;
}

.overlap-group2-2 {
  align-items: center;
  background-color: var(--morning-glory);
  display: flex;
  height: 40px;
  margin-left: 20px;
  min-width: 169px;
  padding: 0 20px;
}

.overlap-group1-2 {
  align-items: center;
  background-color: var(--morning-glory);
  display: flex;
  height: 40px;
  justify-content: flex-end;
  min-width: 132px;
  padding: 0 18px;
}

.htmlcss {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 16px;
  min-width: 94px;
  white-space: nowrap;
}

.overlap-group-2 {
  align-items: flex-start;
  background-color: var(--steel-gray);
  display: flex;
  height: 51px;
  justify-content: flex-end;
  margin-top: 60px;
  min-width: 212px;
  padding: 11px 17px;
}

.overlap-group3-1 {
  align-items: center;
  background-color: var(--morning-glory);
  display: flex;
  height: 40px;
  left: 1336px;
  min-width: 57px;
  padding: 0 20px;
  position: absolute;
  top: 692px;
}

.text-1 {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 16px;
  min-width: 17px;
  white-space: nowrap;
}

.overlap-group1-1 {
  align-items: center;
  background-color: var(--morning-glory);
  display: flex;
  height: 40px;
  justify-content: flex-end;
  left: 1005px;
  min-width: 132px;
  padding: 0 18px;
  position: absolute;
  top: 692px;
}

.mask-group {
  height: 53px;
  left: 1295px;
  position: absolute;
  top: 754px;
  width: 41px;
}

.rectangle-26 {
  height: 196px;
  left: 975px;
  object-fit: cover;
  position: absolute;
  top: 865px;
  width: 466px;
}

.rectangle-46 {
  height: 271px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 637px;
  width: 466px;
}

.image-geometry_3 {
  align-self: flex-end;
  height: 1px;
  margin-right: 323.62px;
  margin-top: 37px;
  width: 1px;
}

.image-geometry_5 {
  height: 1px;
  left: 105px;
  position: absolute;
  top: 3424px;
  width: 1px;
}

.rectangle-47 {
  height: 1px;
  left: 1031px;
  object-fit: cover;
  position: absolute;
  top: 3497px;
  width: 1px;
}

.overlap-group4 {
  height: 3844px;
  left: 0;
  position: absolute;
  top: 1008px;
  width: 1440px;
}

.image-geometry_7 {
  height: 1px;
  left: 1264px;
  position: absolute;
  top: 3545px;
  width: 1px;
}

.lorem-ipsum-dolor-si {
  color: var(--steel-gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-weight: 400;
  left: 446px;
  letter-spacing: -0.14px;
  position: absolute;
  top: 3092px;
  width: 548px;
}

.group-55 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 449px;
  min-height: 162px;
  position: absolute;
  top: 3317px;
  width: 546px;
}

.message {
  letter-spacing: 0;
  min-height: 18px;
  width: 141px;
}

.overlap-group2 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 140px;
  margin-top: 4px;
  min-width: 542px;
  padding: 17px 19px;
}

.enter-your-message-here {
  color: var(--jumbo);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 24px;
}

.image-geometry_6 {
  height: 1px;
  left: 131px;
  position: absolute;
  top: 2949px;
  width: 1px;
}

.overlap-group {
  align-items: flex-start;
  background-color: var(--steel-gray);
  display: flex;
  height: 70px;
  justify-content: flex-end;
  left: 593px;
  min-width: 254px;
  padding: 21.8px 25.2px;
  position: absolute;
  top: 3519px;
}

.start-collaboration {
  letter-spacing: 0;
  min-height: 26px;
  text-align: center;
  width: 204px;
}

.group-54 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 738px;
  min-height: 82px;
  position: absolute;
  top: 3215px;
  width: 257px;
}

.your {
  letter-spacing: 0;
  min-height: 18px;
}

.overlap-group3 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid 
#252c40;
  border-radius: 4px;
  display: flex;
  height: 60px;
  margin-top: 4px;
  min-width: 253px;
  padding: 17px 18.5px;
}

.l {
  letter-spacing: 0;
  min-height: 24px;
}

.rectangle-43 {
  background-color: 
#f9f9fa;
  height: 950px;
  left: 0;
  position: absolute;
  top: 2774px;
  width: 1440px;
}

.rectangle-44 {
  background-color: var(--steel-gray);
  height: 123px;
  left: 0;
  position: absolute;
  top: 3721px;
  width: 1440px;
}

.group-34 {
  align-items: flex-start;
  display: flex;
  height: 3796px;
  left: 160px;
  min-width: 1120px;
  position: absolute;
  top: 0;
}

.group-62 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  height: 27px;
  min-width: 146px;
}

.get-my-cv {
  color: 
#92dcdc;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  min-height: 27px;
  min-width: 96px;
  text-align: center;
}

.ic-link_teal {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;
  margin-left: 24px;
  min-height: 24px;
  padding: 8.2px 11.2px;
  width: 24px;
}

.rectangle-45 {
  height: 1px;
  margin-top: 5px;
  width: 1px;
}

.union {
  align-self: center;
  height: 1px;
  margin-right: 0.18px;
  width: 1px;
}

.group-22 {
  align-items: flex-end;
  display: flex;
  height: 3794px;
  justify-content: flex-end;
  margin-left: 678px;
  min-width: 296px;
}

.ic_angellist {
  align-self: flex-start;
  height: 6px;
  margin-left: 35px;
  margin-top: -0.16px;
  width: 24px;
}

.ic_stackoverflow {
  height: 1px;
  margin-bottom: 11.25px;
  width: 1px;
}

.group-22-item {
  height: 1px;
  margin-bottom: 11.25px;
  margin-left: 55px;
  width: 1px;
}

.group-31 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 449px;
  min-height: 82px;
  position: absolute;
  top: 3215px;
  width: 258px;
}

.overlap-group1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 60px;
  margin-top: 4px;
  min-width: 254px;
  padding: 17px 19px;
}

.anastasiia {
  letter-spacing: 0;
  min-height: 24px;
}

.title {
  -webkit-text-stroke: 1px var(--steel-gray);
  left: 445px;
  letter-spacing: 0;
  line-height: 110px;
  position: absolute;
  text-align: center;
  top: 2941px;
  white-space: nowrap;
}

.image-geometry_4 {
  height: 1px;
  left: 755px;
  position: absolute;
  top: 3405px;
  width: 1px;
}

.group-19 {
  align-items: flex-start;
  display: flex;
  height: 51px;
  left: 370px;
  min-width: 246px;
  padding: 11px 21px;
  position: absolute;
  top: 1474px;
}

.ic_link {
  align-self: center;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/626315b52c67eedc2afe41bd/releases/6263162288c38daf21b7a779/img/ic-link@2x.svg);
  background-size: 100% 100%;
  height: 22px;
  margin-bottom: 1px;
  margin-left: 113px;
  width: 22px;
}

.see-live {
  color: var(--steel-gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  min-height: 27px;
  min-width: 69px;
  text-align: center;
}

.overlap-group7 {
  height: 858px;
  left: 130px;
  position: absolute;
  top: 292px;
  width: 1180px;
}

.rectangle-41 {
  height: 172px;
  left: 588px;
  object-fit: cover;
  position: absolute;
  top: 686px;
  width: 295px;
}

.rectangle-40 {
  height: 172px;
  left: 295px;
  object-fit: cover;
  position: absolute;
  top: 686px;
  width: 295px;
}

.vector-container {
  align-items: flex-end;
  background-image: url();
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 687px;
  left: 0;
  min-width: 1180px;
  padding: 315.6px 14px;
  position: absolute;
  top: 0;
}

.vector-4 {
  height: 55px;
  width: 29px;
}

.vector-5 {
  height: 55px;
  margin-left: 1093px;
  width: 29px;
}

.rectangle-42 {
  height: 172px;
  left: 883px;
  object-fit: cover;
  position: absolute;
  top: 686px;
  width: 296px;
}

.rectangle-39 {
  height: 171px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 686px;
  width: 295px;
}

.address {
  left: 686px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 794px;
}

.span1 {
  color: var(--jumbo);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 300;
}

.overlap-group8 {
  align-items: flex-start;
  display: flex;
  height: 40px;
  left: 130px;
  min-width: 132px;
  padding: 11px 19px;
  position: absolute;
  top: 212px;
}

.htmlcss-1 {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 16px;
  white-space: nowrap;
}

.lorem-ipsum-dolor-si-1 {
  color: var(--steel-gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 370px;
  letter-spacing: 0;
  position: absolute;
  top: 1218px;
  width: 700px;
}

.ic_cross {
  height: 32px;
  left: 1277px;
  position: absolute;
  top: 143px;
  width: 32px;
}

.group-106 {
  align-items: center;
  background-color: var(--steel-gray);
  display: flex;
  height: 51px;
  justify-content: flex-end;
  left: 646px;
  min-width: 246px;
  padding: 0 20px;
  position: absolute;
  top: 1474px;
}

.ic_github_white {
  height: 24px;
  margin-bottom: 1px;
  margin-left: 79px;
  width: 24px;
}

.see-source {
  letter-spacing: 0;
  min-height: 27px;
  min-width: 100px;
  text-align: center;
}